.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: azure;
    padding-top: 50px;
    align-items: center;
    border-top: 2px solid #D49B21;
    font-family: 'Gelasio', serif;
    font-weight: 400;
    width: 100%;
    margin-bottom: 50px;

}

.about p {
    max-width: 55ch;
    justify-content: center;

}

.h2-about {
    text-align: center;
    text-decoration: underline #D49B21;
    text-underline-offset: 10px;
    padding-top: 50px;
    padding-bottom: 50px;

}

.p-about1 {
    margin-left: 50px;
    margin-right: 50px;
}



@media screen and (min-width: 791px) and (max-width: 1080px) {

    .p-about1 {
        font-size: px;
        margin-left: 100px;
        margin-right: 100px;
    }

}

@media screen and (min-width: 1081px) and (max-width: 1920px) {

    .p-about1 {
        font-size: px;
        margin-left: 150px;
        margin-right: 150px;
    }

}