.about {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: azure;
    padding-top: 50px;
    text-align: center;
    border-top: 2px solid #D49B21;
    font-family: 'Gelasio', serif;
    font-weight: 400;
    max-width: 1920px;
    width: 100%;
    min-height: 420px;
    
}

.h2-about {
    text-align: center;
    text-decoration-line: underline;
    
    
}

.about1 {
    margin: 20px;
}
