.fotter {
    display: flex;
    justify-content: space-between;
}

.footer-text {
    display: flex;
    justify-content: center;
    font-family: 'Gelasio', serif;
    font-weight: 400;
    color: azure; 
    
      
}

.icon-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-icon {
    
    
    

}

.nav-appearance {
   
}

.fab {
    color: azure;
    margin: 20px;
    font-size: larger;
}

.fab:hover {
    color: #D49B21;;
}