.welcome {
    display: flex;
    
    justify-content: space-evenly;
    padding-right: 20px;
    margin-top: 20px;
}    

.welcome-text {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #D49B21;
    color: azure;
    text-align: center;
    font-family: 'Gelasio', serif;
    border-radius: 100%;
    border-right: 2px solid #D49B21;
    padding: 20px;
    margin-bottom: 20px;
    
}

.title-welcome {
    font-size: 46px;
    font-weight: 400;
}

.h2-welcome {
    
}



.img-welcome {
    
    
}    

.jag-1 {
    display: flex;
    justify-content: flex-end;
    

}

