@import 'welcome';
@import 'about';
@import 'education';
@import 'works';
@import 'contact';
@import 'footer';

body {
    background-color: #000;
    max-width: 1920px;
    width: 100%;
    min-height: 4820px;
    margin: 20px;
    scrollbar-face-color: black;
}

.logo-web {
    margin: 20px;
}

.logo-tab {
    margin: 20px;
}

.logo-mob {
    margin: 20px;
}

/*.logo:hover {
    transform: 
}*/

.container-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1773px;
    width: 100%;
    min-height: 240px;
    
}

.nav-top {
    max-width: 1773px;
    width: 100%;
    min-height: 185px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-bottom: 2px solid #D49B21;
    
    list-style-type: none;
    text-align: center;
}

.a {
    display: flex;
    width: 100%;
    color: azure;
    font-family: 'Gelasio', serif;
    font-size: 36px;
    font-weight: 400;
    text-decoration-line: none;
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
   
    
}

.a:hover {
    color: #D49B21;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    
    
}




.fa {
    color: azure;
    font-size: larger;
}

.fa:hover {
    color: #D49B21;

}




@media screen and (min-width: 1080px) and (max-width: 1920px) {
    .topnav.responsive a {
        display: none;
        
    }
    .nav-logo-tab {
        display: none;
    }
    .nav-logo-mob {
        display: none;
    }
    .icon {
        display: none;

    }
    .container-education {
        font-size: larger;
    }
}


@media screen and (min-width: 790px) and (max-width: 1080px) {
   
    .topnav.responsive a {
        display: none;
        
    }
    .nav-logo-web {
        display: none;
    }
    .nav-logo-mob {
        display: none;
    }
    .icon {
        display: none;

    }
    .nav-top {
        max-width: 1080px;
        width: 100%;
        min-height: 140px;
        
    }
    .a {
        font-size: 26px;
    }

}  


@media screen and (min-width: 0px) and (max-width: 790px) {
    .container-header {
        display: flex;
        justify-content: space-around;
        border-bottom: 2px solid #D49B21;
        max-width: 790px;
        width: 100%;
        min-height: 100px;
       

    }
    .nav-logo-web {
        display: none;
    }
    .nav-logo-tab {
        display: none;
    }
    .nav-top {
        border: none;
        max-width: 790px;
        width: 100%;
        min-height: aouto;
        
        
        
        
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .nav-links .a{
        display: none;
        
      
    }
    .topnav .icon{
        position: absolute;
        top: 5%;
        right: 10%;
        
        

       
    }
    .topnav.responsive a {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        
    
    }
    .nav-b {
      
    }
    .a {
        font-size: 16px;
        margin-right: 10px;
        margin-left: 10px;
    }
   
}