@import 'welcome';
@import 'about';
@import 'education';
@import 'works';
@import 'contact';
@import 'footer';



body {
   background-color: #000;
    max-width: 3000px;
    width: 100%;
    font-size: 160%;
    
    
   
    scrollbar-face-color: black;
}



  body::-webkit-scrollbar {
    width: 15px;               
  }
  
  body::-webkit-scrollbar-track {
    background: #000;        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #D49B21;   
    border-radius: 20px;    
  }

.logo-web {
    margin: 20px;
}

.logo-tab {
    margin: 20px;
}

.nav-logo-mob {
    height: 140px;
}

.logo-mob {
    margin: 20px;
}

/*.logo:hover {
    transform: 
}*/

header {
    background-color: #000;
    position: sticky;
    top: 0;
}


.container-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1773px;
    width: 100%;
    
    
}

.nav-top {
    max-width: 1773px;
    width: 100%;
    min-height: 185px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-bottom: 2px solid #D49B21;
    
    list-style-type: none;
    text-align: center;
}

a.icon {
    text-decoration: none;
    
}

.a {
    display: flex;
    width: 100%;
    color: azure;
    font-family: 'Gelasio', serif;
    font-size: 36px;
    font-weight: 400;
    text-decoration-line: none;
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
   
    
}

.a:hover {
    color: #D49B21;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    
    
    
}

ul.nav-links {
    float: right;
    margin-right: 65px;
    
}



.fa {
    display: flex;
    justify-content: center;
    color: azure;
    font-size: 42px;
    text-decoration: none;
    margin-top: 50px;
    
    
}

.fa:hover {
    color: #D49B21;
    

}



@media screen and (min-width: 1920px) and (max-width: 5000px) {
    
    .nav-logo-tab {
        display: none;
    }
    .nav-logo-mob {
        display: none;
    }
    .icon {
        display: none;

    }
    .nav-logo-footer-mob {
        display: none;
    }
}




@media screen and (min-width: 1080px) and (max-width: 3000px) {
    .topnav.responsive a {
        display: none;
        
    }
    .nav-logo-tab {
        display: none;
    }
    .nav-logo-mob {
        display: none;
    }
    .icon {
        display: none;

    }
    
    .nav-logo-footer-mob {
        display: none;
    }
    .container-header {
        border-bottom: none;
    }
}


@media screen and (min-width: 790px) and (max-width: 1080px) {
   
    .topnav.responsive a {
        display: none;
        
    }
    .nav-logo-web {
        display: none;
    }
    .nav-logo-mob {
        display: none;
    }
    .icon {
        display: none;

    }
    .nav-top {
        max-width: 1080px;
        width: 100%;
        min-height: 140px;
        
    }
    .a {
        font-size: 26px;
    }
    .nav-logo-footer-mob {
        display: none;
    }
    .container-header {
        border-bottom: none;
    }


}  


@media screen and (min-width: 0px) and (max-width: 790px) {
    .container-header {
        display: flex;
        justify-content: space-around;
        border-bottom: 2px solid #D49B21;
        max-width: 790px;
        width: 100%;
        min-height: 100px;
       

    }
    .nav-logo-web {
        display: none;
    }
    .nav-logo-tab {
        display: none;
    }
    .nav-top {
        border: none;
        max-width: 790px;
        width: 100%;
        min-height: 80px;
        
        
        
        
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .nav-links .a{
        display: none;
        
      
    }
    .topnav .icon{
        position: absolute;
        top: 5%;
        right: 10%;
        
        

       
    }
    .topnav.responsive a {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        
    
    }
    
    .a {
        font-size: 16px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .nav-logo-footer-desc {
        display: none;
    }
   
}